h4 {
    height: 100%;
    margin: 30px;
    background-color: white;
    border: 10px;
    opacity: .8;
    padding: 15px;
}

form.form-inline {
    justify-content: center;
}

.bg {
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}
