/* CSS for pictures */
.slide-container{
    width: 70%;
    margin: auto;
}

h3{
    text-align:center;
}

.photo {

    width: 500px;
    height: 325px;
    background-size: cover;


}

.each-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.each-slide span{
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}
